<div  class="signUp">
    <div class="container">
        <div class="title">
            Free advice from our experts
        </div>
        <div class="subtitle">
            Our team is here to answer any question related to choosing right home loan
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form">
                    <form [formGroup]="signinForm" (ngSubmit)="HandleSubmit($event)" action="#" id="SignUp">
                        <p>Request a call back</p>
                        <input formControlName="name" type="text" placeholder="Name" class="name input-text">
                        <span class="errored" *ngIf="!name">Invalid Name</span>
                        <input formControlName="phone" type="tel" placeholder="Phone"  class="tel input-text">
                        <span class="errored" *ngIf="!phone">Wrong phone number</span>
                        <button type="submit"> Create Account</button>
                        <span style="display: block">We will never sell or share your personal details with anyone. By registering you agree  to AusCred’s <a href="https://creditandfinance.com.au/privacy-policy/">Privacy Policy</a></span>
                        <a href="https://creditandfinance.com.au/comparison/" class="sign-in-link">Already have an account? Sign in</a>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blocks star">
                    <div class="title">Five Star Service</div>
                    <div class="content">We are here to help you though the process every step of the way</div>
                </div>
                <div class="blocks open">
                    <div class="title">There for you</div>
                    <div class="content">Whenever you need us we're always there for you</div>
                </div>
                <div class="blocks house-clock">
                    <div class="title">We do the Heavy Lifting</div>
                    <div class="content">We take the hard work out of the home loan process saving you time and money</div>
                </div>
            </div>
        </div>
    </div>
</div>